/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: url(./imagenes/ropa\ 10.jpg);

}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
.carousel-inner {
max-height: 40rem ;
}




@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
    .servicio-fila {
       width: 100% !important; 
       text-align: center;
    }
}
 
@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}